{% extends 'shared/_main.html' %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}ویرایش کلمه عبور{% endblock %}
</head>
<body>
{% block main %}
    <main class="page-wrapper">
        <div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
            <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ویرایش کلمه عبور</li>
                </ol>
            </nav>
            <div class="row">
                <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
                    <div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
                        <a class="btn btn-primary btn-lg w-100 mb-3" href="{% url 'new_home' %}"><i
                                class="fi-plus me-2"></i> ثبت ملک</a><a
                            class="btn btn-outline-secondary d-block d-md-none w-100 mb-3" href="#account-nav"
                            data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>منو</a>
                        <div class="collapse d-md-block mt-3" id="account-nav">
                            {% render_partial 'dashbord.views.dashbord_component' %}
                        </div>
                    </div>
                </aside>
                <div class="col-lg-8 col-md-7 mb-5 account">
                    <div class="col-lg-8 col-md-7 mb-5 account">
                        <h1 class="h2">تغییر گذرواژه</h1><br>
                        <form class="needs-validation pb-4" novalidate="" action="" method="post">
                            {% csrf_token %}
                            <div class="row align-items-end mb-2">
                                <div class="col-sm-6 mb-2">
                                    <label class="form-label" for="account-password">رمز عبور فعلی</label>
                                    <div class="password-toggle">
                                        {{ change_pass_form.current_password }}

                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox"><span
                                                class="password-toggle-indicator"></span>
                                        </label>
                                        {{ change_pass_form.current_password.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-2"><a class="d-inline-block mb-2" href="#">رمز عبور را فراموش
                                    کرده اید؟</a></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="account-password-new">رمز عبور جدید</label>
                                    <div class="password-toggle">
                                        {{ change_pass_form.new_password }}

                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox"><span
                                                class="password-toggle-indicator"></span>
                                        </label>
                                        {{ change_pass_form.new_password.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="account-password-confirm">رمز عبور جدید</label>
                                    <div class="password-toggle">
                                        {{ change_pass_form.confirm_password }}

                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox"><span
                                                class="password-toggle-indicator"></span>
                                        </label>
                                        {{ change_pass_form.confirm_password.errors }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-primary" type="submit">ثبت تغییرات</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>