<div class="card-nav">
    <a class="card-nav-link"
       href="{% url 'edit_profile' %}"><i
            class="fi-user opacity-60 me-2"></i>اطلاعات حساب کاربری</a>
    <a class="card-nav-link"
       href="{% url 'change_pass' %}"><i
            class="fi-lock opacity-60 me-2"></i>تغییر گذرواژه</a>
    <a class="card-nav-link"
       href="real-estate-account-properties.html"><i
            class="fi-home opacity-60 me-2"></i>املاک من</a>
    <a class="card-nav-link"
       href="real-estate-account-wishlist.html"><i
            class="fi-heart opacity-60 me-2"></i>موردعلاقه ها</a>
    <a class="card-nav-link" href="#"><i
            class="fi-logout opacity-60 me-2"></i>خروج</a></div>