{% extends 'shared/_main.html' %}
{% load render_partial %}
{% load humanize %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}لیست املاک{% endblock %}
</head>
<body>
{% block main %}
    <main class="page-wrapper">
        <div class="container-fluid mt-5 pt-5 p-0">
            <div class="row g-0 mt-n3">
                <aside class="col-lg-4 col-xl-3 border-top-lg border-end-lg shadow-sm px-3 px-xl-4 px-xxl-5 pt-lg-2">
                    <div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
                        <!-- <div class="offcanvas-header d-flex d-lg-none align-items-center">
                            <h2 class="h5 mb-0">فیلتر جستجو</h2>
                            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
                        </div> -->
                        <!-- show categorys -->
                        <div class="offcanvas-header d-block border-bottom pt-0 pt-lg-4 px-lg-0">
                            <ul class="nav nav-tabs mb-0">
                                {% render_partial 'estate.views.estate_categorys' %}
                            </ul>
                        </div>
                        <form action="" method="get">
                            
                            <div class="offcanvas-body py-lg-4">
                                <!-- location -->
                                <div class="sidebar-widget mt-30">
                                    <div class="sidebar-widget-list">
                                        <ul>
                                            {% render_partial 'estate.views.states' %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- property type -->
                                <div class="sidebar-widget mt-30">
                                    <div class="sidebar-widget-list">
                                        <ul>
                                            {% render_partial 'estate.views.property_types' %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- price -->
                                <div class="pb-4 mb-2">
                                    <h3 class="h6">قیمت خرید</h3>
                                    <div class="range-slider" data-start-min="1500" data-start-max="3000" data-min="200"
                                        data-max="5000" data-step="100">
                                        <!-- <div class="range-slider-ui noUi-target noUi-rtl noUi-horizontal noUi-txt-dir-rtl">
                                        </div> -->
                                        <div class="align-items-center w-150">
                                            <div class="p-2">
                                                <div class="input-group flex-row-reverse"><span
                                                        class="input-group-text fs-base">تومان</span>
                                                    <input class="form-control range-slider-value-min" name="min-price" placeholder="از" type="number">
                                                </div>
                                            </div>
                                            <!-- <div class="text-muted">—</div> -->
                                            <div class="p-2">
                                                <div class="input-group flex-row-reverse"><span
                                                        class="input-group-text fs-base">تومان</span>
                                                    <input class="form-control range-slider-value-max" name="max-price" placeholder="تا" type="number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- rooms/bathrooms -->
                                <div class="pb-4 mb-2">
                                    <h3 class="h6 pt-1">تعداد اتاق خواب و سرویس بهداشتی</h3>
                                    <label class="d-block fs-sm mb-1">تعداد اتاق</label>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms">
                                        <input class="btn-check" type="radio" id="bedrooms-all" value="" name="bedrooms" checked="">
                                        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-all">همه</label>
                                        <input class="btn-check" type="radio" id="bedrooms-1" value="1" name="bedrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-1">1</label>
                                        <input class="btn-check" type="radio" id="bedrooms-2" value="2" name="bedrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-2">2</label>
                                        <input class="btn-check" type="radio" id="bedrooms-3" value="3" name="bedrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-3">3</label>
                                        <input class="btn-check" type="radio" id="bedrooms-4" value="4" name="bedrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bedrooms-4">4+</label>
                                    </div>
                                    <label class="d-block fs-sm pt-2 my-1">سرویس بهداشتی</label>
                                    <div class="btn-group btn-group-sm" role="group"
                                        aria-label="Choose number of bathrooms">
                                        <input class="btn-check" type="radio" id="bathrooms-all" value="" name="bathrooms" checked="">
                                        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-all">همه</label>
                                        <input class="btn-check" type="radio" id="bathrooms-1" value="1" name="bathrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-1">1</label>
                                        <input class="btn-check" type="radio" id="bathrooms-2" value="2" name="bathrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-2">2</label>
                                        <input class="btn-check" type="radio" id="bathrooms-3" value="3" name="bathrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-3">3</label>
                                        <input class="btn-check" type="radio" id="bathrooms-4" value="4" name="bathrooms">
                                        <label class="btn btn-outline-secondary fw-normal" for="bathrooms-4">+4</label>
                                    </div>
                                </div>
                                <!-- meterage -->
                                <div class="pb-4 mb-2">
                                    <h3 class="h6 pt-1">متراژ (مترمربع)</h3>
                                    <div class="d-flex align-items-center">
                                        <input class="form-control w-100" type="number" name="min-meterage" min="20" max="500" step="10"
                                            placeholder="از">
                                        <div class="mx-2">—</div>
                                        <input class="form-control w-100" type="number" name="max-meterage" min="20" max="500" step="10"
                                            placeholder="تا">
                                    </div>
                                </div>
                                <!-- other facilities -->
                                <div class="pb-4 mb-2">
                                    <h3 class="h6">امکانات رفاهی</h3>
                                    <div class="overflow-auto" data-simplebar="init" data-simplebar-auto-hide="false"
                                        data-simplebar-direction="rtl" style="height: 11rem;">
                                        <div class="simplebar-wrapper" style="margin: 0px;">
                                            <div class="simplebar-height-auto-observer-wrapper">
                                                <div class="simplebar-height-auto-observer"></div>
                                            </div>
                                            <div class="simplebar-mask">
                                                <div class="simplebar-offset" style="bottom: 0px;">
                                                    <div class="simplebar-content-wrapper"
                                                        style="height: 100%; overflow: hidden scroll;">
                                                        <div class="simplebar-content" style="padding: 0px;">
                                                            {% render_partial 'estate.views.other_facilities' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="simplebar-placeholder" style="width: auto; height: 300px;"></div>
                                        </div>
                                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                            <div class="simplebar-scrollbar simplebar-visible"
                                                style="width: 0px; display: none;"></div>
                                        </div>
                                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                            <div class="simplebar-scrollbar simplebar-visible"
                                                style="height: 103px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- filters button -->
                                <div class="border-top py-4">
                                    <button class="btn btn-outline-primary" type="submit"><i class="fi-rotate-right me-2"></i>جستجو
                                    </button>
                                </div>
                                
                                <!-- remove filters button -->
                                <div class="border-top py-4">
                                    <button class="btn btn-outline-primary" type="submit"><i class="fi-rotate-right me-2"></i>حذف فیلتر
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </aside>
                <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
                    <div class="map-popup invisible" id="map">
                        <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button"
                                data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-x fs-xs"></i>
                        </button>
                        <div class="interactive-map"
                             data-map-options-json="https://finder.createx.studio/json/map-options-real-estate-rent.json"></div>
                    </div>
                    <!-- Breadcrumb-->
                    <nav class="mb-3 pt-md-2" aria-label="Breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ملک</li>
                        </ol>
                    </nav>
                    <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
                        <h1 class="h4 mb-sm-0">لیست املاک</h1>
                    </div>
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
                        <div class="d-flex align-items-center flex-shrink-0">
                            <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i
                                    class="fi-arrows-sort text-muted mt-n1 me-2"></i>مرتب سازی براساس: </label>
                            <select class="form-select form-select-sm" id="sortby">
                                <option>جدیدترین</option>
                                <option>پربازدیدترین</option>
                                <option>قیمت بالا</option>
                                <option>قیمت پایین</option>
                                <option>امتیاز بالا</option>
                                <option>امتیاز میانگین</option>
                            </select>
                        </div>
                        <hr class="d-none d-sm-block w-100 mx-4">
                        <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i
                                class="fi-check-circle me-2"></i><span class="fs-sm mt-n1">{{ estate_list.count }} نتیجه یافت شد</span>
                        </div>
                    </div>
                    <div class="row g-4 py-4">
                        {% if not object_list %}
                            <p class="justify-content-center">هیچ آگهی مطابق جستجو شما یافت نشد!</p>
                        {% else %}
                            {% for estate in page_obj %}
                                <div class="col-sm-6 col-xl-4">
                                    <div class="card shadow-sm card-hover border-0 h-100">
                                        <div class="tns-carousel-wrapper card-img-top card-img-hover">
                                            <a class="img-overlay" href="{% url 'estate_detail' estate.pk %}"></a>
                                            {% if estate.special == True %}
                                                <div class="position-absolute start-0 top-0 pt-3 pe-3"><span
                                                        class="d-table badge bg-danger">ویژه</span></div>
                                            {% endif %}
                                            <div class="content-overlay end-0 top-0 pt-3 ps-3">
                                                <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle"
                                                        type="button" data-bs-toggle="tooltip" data-bs-placement="right"
                                                        title="" data-bs-original-title="نشان کردن" aria-label="نشان کردن">
                                                    <i class="fi-heart"></i>
                                                </button>
                                            </div>
                                            <div class="tns-outer" id="tns7-ow">
                                                <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                                                    <button type="button" data-controls="prev" tabindex="-1"
                                                            aria-controls="tns7"><i class="fi-chevron-right"></i></button>
                                                    <button type="button" data-controls="next" tabindex="-1"
                                                            aria-controls="tns7"><i class="fi-chevron-left"></i></button>
                                                </div>
                                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite"
                                                    aria-atomic="true">slide <span class="current">3</span> of 2
                                                </div>
                                                <div id="tns7-mw" class="tns-ovh">
                                                    <div class="tns-inner" id="tns7-iw">
                                                        <div class="tns-outer" id="tns7-ow">
                                                            <div class="tns-controls" aria-label="Carousel Navigation"
                                                                tabindex="0">
                                                                <button type="button" data-controls="prev" tabindex="-1"
                                                                        aria-controls="tns7"><i
                                                                        class="fi-chevron-right"></i>
                                                                </button>
                                                                <button type="button" data-controls="next" tabindex="-1"
                                                                        aria-controls="tns7"><i class="fi-chevron-left"></i>
                                                                </button>
                                                            </div>
                                                            <div class="tns-liveregion tns-visually-hidden"
                                                                aria-live="polite"
                                                                aria-atomic="true">slide <span class="current">2</span> of
                                                                6
                                                            </div>
                                                            <div id="tns7-mw" class="tns-ovh">
                                                                <div class="tns-inner" id="tns7-iw">
                                                                    <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                                                                        id="tns7"
                                                                        style="transition-duration: 0s; transform: translate3d(-12.5%, 0px, 0px);">
                                                                        {% thumbnail estate.image "298x150" crop="center" as im %}
                                                                            <img class="tns-item tns-slide-cloned"
                                                                                src="{{ im.url }}"
                                                                                alt="{{ estate.title }}">
                                                                        {% endthumbnail %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tns-nav" aria-label="Carousel Pagination">
                                                                <button type="button" data-nav="0" aria-controls="tns7"
                                                                        aria-label="Carousel Page 1 (Current Slide)"
                                                                        class="tns-nav-active"></button>
                                                                <button type="button" data-nav="1" tabindex="-1"
                                                                        aria-controls="tns7"
                                                                        aria-label="Carousel Page 2"></button>
                                                                <button type="button" data-nav="2" tabindex="-1"
                                                                        aria-controls="tns7"
                                                                        aria-label="Carousel Page 3"></button>
                                                                <button type="button" data-nav="3" tabindex="-1"
                                                                        aria-controls="tns7"
                                                                        aria-label="Carousel Page 4"></button>
                                                                <button type="button" data-nav="4" tabindex="-1"
                                                                        aria-controls="tns7"
                                                                        aria-label="Carousel Page 5"></button>
                                                                <button type="button" data-nav="5" tabindex="-1"
                                                                        aria-controls="tns7"
                                                                        aria-label="Carousel Page 6"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tns-nav" aria-label="Carousel Pagination">
                                                    <button type="button" data-nav="0" aria-controls="tns7"
                                                            aria-label="Carousel Page 1 (Current Slide)"
                                                            class="tns-nav-active"></button>
                                                    <button type="button" data-nav="1" tabindex="-1" aria-controls="tns7"
                                                            aria-label="Carousel Page 2"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body position-relative pb-3">
                                            <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">{{ estate.property_type }}</h4>
                                            <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link"
                                                                            href="{{ estate.get_absolute_url }}">{{ estate.title }}
                                                |
                                                {{ estate.meterage }} متر مربع </a></h3>
                                            <p class="mb-2 fs-sm text-muted">{{ estate.state }} ، خیابان آزادی</p>
                                            <div class="fw-bold">
                                                <i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>
                                                {{ estate.price|intcomma }}  تومان
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">
                                            <span class="d-inline-block mx-1 px-2 fs-sm">{{ estate.room}}
                                                <i class="fi-bed me-1 mt-n1 fs-lg text-muted"></i>
                                            </span>
                                            <span class="d-inline-block mx-1 px-2 fs-sm">{{ estate.wc }}
                                                <i class="fi-bath me-1 mt-n1 fs-lg text-muted"></i>
                                            </span>
                                            <!-- <span class="d-inline-block mx-1 px-2 fs-sm">2
                                                <i class="fi-car me-1 mt-n1 fs-lg text-muted"></i>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- pagination -->
                            <nav class="border-top pb-md-4 pt-4 mt-2" aria-label="Pagination">
                                <ul class="pagination mb-1 justify-content-center">
                                    
                                    {% if paginator.num_pages != 1 %}
                                        {% if page_obj.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><i class="fi-chevron-left"></i>قبلی</a></li>
                                        {% endif %}
                                        <li class="page-item active d-sm-block" aria-current="page">
                                            <span class="page-link">{{ page_obj.number }}<span class="visually-hidden">(صفحه جاری)</span></span>
                                        </li>   
                                        {% if page_obj.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">بعدی<i class="fi-chevron-right"></i></a></li>
                                        {% endif %}                                    
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}                           
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>